# 忽略所有输出数据
03_InputData
04_COMSOL_Output/
05_ProcessedData/
06_Results/

# 忽略大文件/中间文档
*.csv
*.xlsx
*.pkl
*.vtu
*.log

# 忽略临时文件、缓存
*.class

# 忽略报告草稿或本地文档
07_Docs/
*.docx
*.pdf

# environment / tools
jdk-11/
.idea/
.vscode/
__pycache__/
*.pyc

Data/
Project_Records/